aiohttp             
aiosignal
async-timeout
attrs
beautifulsoup4
Brotli
bs4
certifi
cffi
charset-normalizer
colorama
colorlog
dateparser
decorator
discord
discord.py
docopt
ffmpeg-normalize
ffmpeg-progress-yield
frozenlist
idna
multidict
mutagen
openai
pillow
pip
pipreqs
websockets
wheel
yarg
yarl
yt-dlp 